body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Stepper{background-color: gray;}
.classes.backButton{border: 1px solid black;}
.makeStyles-instructions-3{text-align: center !important;}
.button{text-align: center;}
.MuiStepper-alternativeLabel{
  background-color: aliceblue !important;
  box-shadow: 0 1px 2px solid black !important;
}
.resetButton{text-align: center !important;}